@import 'common';

.document{
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    font-size: 1.8rem;

    &_title {
        font-size: 2.0rem;
    }
    &_url {
        font-size: 1.4rem;
    }
    &_description {
        margin-top: 8px;
        font-size: 1.4rem;
        color: $primaryDark;
    }
    &_userName {
        margin-top: 8px;
        font-size: 1.4rem;
        color: $secondaryDark;
    }
    .comments {
        margin-top: 16px;
        form {
            textarea{
                vertical-align: bottom;
            }
            input {

            }
        }
        .commentList {
            &_comment {
                margin-top: 12px;
                margin-left: 16px;
                .c {
                    font-size: 1.8rem;
                    color: $primaryDark;
                }
                .n {
                    margin-top: 4px;
                    font-size: 1.2rem;
                    color: $secondaryDark;
                }
            }
        }
    }
}