@import 'common';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: white;
    border-bottom: 1px solid $divider;
    .nav {
        position: relative;
        background-color: white;
        height: 100%;
        width: 100%;
        max-width: 768px;
        padding: 0 24px;
        margin: auto;
        .title {
            display: inline-block;
            font-size: 1.8rem;
            font-weight: bold;
            color: $primaryDark;
            position: relative;
            top: 16px;
        }
        .user {
            @include btn;
            position: absolute;
            right: 32px;
            top: 12px;
        }
    }
}