@import 'common';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    background-color: white;
    border-bottom: 1px solid $divider;
    .nav {
        position: relative;
        background-color: white;
        height: 100%;
        width: 100%;
        max-width: 768px;
        padding: 0 24px;
        margin: auto;
        .title {
            display: inline-block;
            font-size: 1.8rem;
            font-weight: bold;
            color: $primaryDark;
            position: relative;
            top: 16px;
            a {
                text-decoration: none;
                color: $primaryDark;
            }
        }
        .newStoryBtn {
            @include btn;
            float: right;
            position: relative;
            top: 12px;
            right: 24px;
        }
        .newStoryBtn:active {
            @include btnActive;
        }
        .user {
            @include btn;
            float: right;
            position: relative;
            top: 12px;
        }
        .user:active {
            @include btnActive;
        }
    }
}