@import "common";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: $backgroundColor;
}

.container {
    width: 100%;
    max-width: 768px;
    margin: 80px auto;
}

@import 'header';
@import 'feeds';
@import 'newStory';
@import 'document';

@import "~firebaseui/dist/firebaseui.css";
